@tailwind base;
@tailwind components;
@tailwind utilities;


.wrapper {
    margin: 0 auto;
    @apply w-8/12 lg:max-w-screen-xl;
}

.text-limit {
  @apply bg-black rounded-xl text-white ;
}

.bar-limit {
  @apply bg-red-700;
}

/* Button */

.btn {
    @apply bg-blue-600 py-2 px-4 rounded-full text-white hover:bg-yellow-300 hover:text-black transition ease-in text-sm mx-2;
}

.btn {
    @apply lg:text-lg;
}


/* Limit */

.limit-value {
    @apply md:text-xl;

}

.stats-text {
  @apply font-semibold text-sm;
}

/* consumed */
.consumed-cards {
    @apply bg-black text-white p-2 w-2/4 text-xs rounded-lg text-center;
}

.consumed-number {
    @apply text-sm md:text-xl;
}

.consumed-text {
    @apply text-xs md:text-base lg:text-lg;
}

/* List of meals */

.meal-card {
  @apply w-full md:w-48;
}

.meal-body {
  @apply bg-blue-600 text-white rounded-lg p-4 my-4;
}

.meal-heading {
  @apply flex justify-between;
}

.meal-text {
  @apply pr-6 font-semibold md:text-xl;
}

.meal-cals {
  @apply pb-2 font-light md:text-lg;
}

.meal-nutrition {
  @apply flex text-xs font-light justify-between md:justify-normal;
}

.meal-macro {
  @apply md:text-base;
}

.meal-carbs {
  @apply md:px-6;
}

/* Remaining */

.remaining-card {
  @apply w-3/12 lg:w-2/12 xl:w-1/12 mr-2 p-2;
}

.remaining-value {
  @apply text-sm md:text-base lg:text-lg;
}

.remaining-text {

  @apply text-xs lowercase md:text-sm lg:text-base;
}

/* Modal  */

.modal-container {
    @apply bg-black bg-opacity-60 fixed top-0 left-0 right-0 bottom-0;
    display: none;
    position: fixed;
  }
  
  .modal-container.show-modal {
    @apply block;
  }
  
  .modal {
    @apply bg-gray-100 rounded-lg shadow-md shadow-gray-300 absolute overflow-hidden w-4/6 max-w-full;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }

  .modal-form div {
    @apply p-2;
  }

  .modal-form input, input::placeholder {
    @apply text-xs;
    @apply md:text-base;
}
  
  .modal-form label {
    @apply block mb-2 text-sm text-left;
    @apply lg:text-xl;
  }
  
  .modal-form .form-input {
    @apply w-full rounded-lg p-2;
    @apply lg:text-lg;
  }
  
  .close-btn {
    @apply absolute text-2xl;
    top: 12px;
    right: 16px;
  }


 